.heading {
    text-align: center;
    color: #fff;
    background: linear-gradient(to left, #00008B, #265B5F 50%, #008080 100%);
}

/* start search container */
.search-container {
 background-color: lightgray;
 padding: 20px;
 align-items: center;
 justify-content: center;
}

.search-container input {
    margin: 10px 0;
    height: 40px;
}

.btn {
    text-align: center;
    width: 100%;
    background: linear-gradient(to left, #008080, #265B5F 50%, #00008B 100%);
    color: white;
    font-weight: bold;
    margin: 10px 0px;
}


/* end search container */

/* current weather display */

.selected-city-container {
    background-color: rgba(38, 91, 95, 0.3);
}

.selected-city-container img {
    width: 50px;
    height: auto;
}

.selected-city-container h2 {
    display: inline;
}

/* five day forecast */

.five-day {
    background-color: #36454F;
    color: #fff;
    margin: 5px;
}

.five-day img {
    width: 50px;
    height: auto;
}

.five-day h3 {
    font-size: 20px;
}

.five-day p {
    font-size: 12px;
}

.five-day-forcast-container {
padding: 10px;
}

.popular-city-container {

}

