:root {
    --teal: #008080;
    --slate: #265B5F;
    --navy: #00008B;
    --gray: #C6C9C7;
    --charcoal: #36454F;
}

.heading {
    text-align: center;
    color: #fff;
    background: linear-gradient(to left, #00008B, #265B5F 50%, #008080 100%);
}

/* start search container */
.search-container {
 background-color: var(--charcoal);
 color: white;
 padding: 20px;
 align-items: center;
 justify-content: center;
 border: 5px solid white;
 border-radius: 10px;
}

.search-container input {
    margin: 10px 0;
    height: 40px;
}

.btn {
    text-align: center;
    width: 100%;
    background: linear-gradient(to left, #008080, #265B5F 50%, #00008B 100%);
    color: white;
    font-weight: bold;
    margin: 10px 0px;
}


/* end search container */

/* current weather display */

.selected-city-container {
    background-color: var(--gray);
    border-radius: 10px;
    border: 5px solid white;
}

.selected-city-container img {
    width: 50px;
    height: auto;
}

.selected-city-container h2 {
    display: inline;
}

/* five day forecast */

.five-day {
    background-color: var(--charcoal);
    color: #fff;
    margin: 5px;
    min-height: 250px;
}

.five-day img {
    width: 50px;
    height: auto;
}

.five-day h3 {
    font-size: 20px;
}

.five-day p {
    font-size: 12px;
}

.five-day-forecast-container {
    background-color: var(--teal);
    padding: 10px 0px 10px 30px;
    border-radius: 5px;
    color: white;
}

/* saved cities */

.save-btn {
    color: var(--charcoal);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border: none;
    margin: 10px;
}

.display-none {
    display: none;
}

.save-btn:hover {
    color: var(--teal)
}

.city-btn {
    font-weight: bold;
    background-color: var(--gray);
    border-radius: 5px;
    margin: 3px 0;
    padding: 5px 0;
    color: var(--navy);
    border: none;
}

.city-btn:hover {
    color: white;
}

.saved-cities-container {
    border: 5px solid white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.btn-holder {
    height: 50px;
    text-align: center;
}
